body {
    background-color: #FCF9E9;
    font-family: "cinzel", serif;
};

img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#vsOverlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12vw;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 0 20px #fff, 0 0 40px #ff0000;
  z-index: 9999;
  pointer-events: none;
  display: none;
  opacity: 0;
  animation: none;
}

/* Animation flash au moment du "VS" */
@keyframes flash {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.4);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}